# Variables

In [3]:
a = 2

In [6]:
# Change the value of a
a = 3

In [7]:
print(a)

3

In [8]:
print("Hello\nLet's learn Python!!!")

Hello
Let's learn Python!!!

In [9]:
import keyword
print(keyword.kwlist)
print("Total Number of keywords!", len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
Total Number of keywords! 35

In [11]:
print(id(a)) # print the adress of the variable 'a'

140716744417744

# Numeric Operations

In [13]:
a = -100
b = 15
print(a + b)
print(a - b)
print(a * b)
print(a // b) # floor divison
print(a % b)
print(a ** b)

-85
-115
-1500
-7
5
-1000000000000000000000000000000

In [14]:
import math
x = 10
math.log(x)

2.302585092994046

# Logical Expression

In [18]:
print(3 < 4)
print(True and False)
print(True or False)
print(True and not False)
a = True
print(not not a)
print(type(a))

True
False
True
True
True
<class 'bool'>

# If-else loop

In [21]:
a = 5
if a>50:
    print("a is larger than 50")
else:
    difference = 50 - a
    print("a is smalles than 50 by " + str(difference) + ' units')

a is smalles than 50 by 45 units

In [23]:
# Find the smallest out of three numbers
n1 = 2
n2 = 60
n3 = 78

if (n1 <= n2) and (n1 <= n3):
    smallest = n1
elif (n2 <= n1) and (n2 <= n3):
    smallest = n2
else:
    smallest = n3
print("smallest element among these number is : {}".format(smallest))

smallest element among these number is : 2

# For loop

In [26]:
subjects = ['maths', 'science', 'hindi', 'history']
for i in range(len(subjects)):
    print(len(subjects[i]))

5
7
5
7

In [27]:
for i in range(1, 10, 3): #(start, stop, skip)
    print(i)

1
4
7

In [55]:
str1 = ''
for i in range(0, 9):
    if i<5:
        str1 += '*'
        print(str1)
    elif i>4:
        str1 = str1[:-2]
        print(str1)

*
**
***
****
*****
***
*

In [35]:
my_srinf = 'Hello from NITR'
for n, alphabet in enumerate(my_srinf):
    print(n, alphabet)

0 H
1 e
2 l
3 l
4 o
5
6 f
7 r
8 o
9 m
10
11 N
12 I
13 T
14 R

# While loop

In [57]:
num = int(input())

isDivisible = False
i = 2
while i < num:
    if num % i == 0:
        isDivisible = True
        print("{} is divisible by {}".format(num, i))
    i += 1
if isDivisible:
    print("{} is Not a prime Number".format(num))
else:
    print("{} is a prime Number".format(num))

68
68 is divisible by 2
68 is divisible by 4
68 is divisible by 17
68 is divisible by 34
68 is Not a prime Number

# Functions

In [62]:
def Trile(num):
    return num**3
Trile(67)
print(Trile.__doc__)

None

In [65]:
def factorial(Num):
    if Num> 1:
        return Num * factorial(Num -1)
    else:
        return 1
fac = factorial(5)
print(fac)

120

In [67]:
def submissioin(*args):
    print(args)
    return(sum(args))
print(submissioin(1,2,2,4))

(1, 2, 2, 4)
9

In [68]:
captain = 'Virat Kohli'
string_to_list = lambda x: x.split()
print(string_to_list(captain))
print(type(string_to_list))

['Virat', 'Kohli']
<class 'function'>

In [70]:
multiply = lambda x, y: x * y
print(multiply(4, 6))

24

# Stirngs

In [4]:
x = "mrityunjay"
y = "pritipanna"
x, y

('mrityunjay', 'pritipanna')

In [12]:
small = "I am a data scientist!"
print(small.rstrip("!")) # removes from RHS
print(small.lstrip("I")) # removes from LHS
print(small.lstrip("I").rstrip("!"))

I am a data scientist
 am a data scientist!
 am a data scientist

In [99]:
# Reverse a string keeping words same
input_string = input()
list1 = input_string[::-1].split(" ")
#print(list1)
list3 = []
for i in range(len(list1)):
    list3.append(list1[i][::-1])
print(" ".join(list3))

Hi I am Mrutyunjay
Mrutyunjay am I Hi

# Lists

In [59]:
a = []
print(a)
print(type(a))
languages = ['R', 'Python', 'Scala', 41]
languages.append("ML")
print(languages)
print(languages.pop())

[]
<class 'list'>
['R', 'Python', 'Scala', 41, 'ML']
ML

In [60]:
new_list = languages # Shares the same memory locaiton
copied_list = languages.copy() # allocates to diff memory location
print(id(languages))
print(id(new_list))
print(id(copied_list))

1996110575816
1996110575816
1996121747272

# Tuples

In [82]:
# Tupples cann't be modified unlike list.
Hobbies = ("Coding", "ML", 69)
new = Hobbies
print(id(new))
print(id(Hobbies))

1996108418728
1996108418728

# Sets
> Stores identical values

In [106]:
student_grades = ['A', 'B', 'B', 'C', 'D']
student_grades = set(student_grades)
print(sorted(student_grades))
# .union(), .intersection(), .difference() works as usual between two sets
student_grades1 = set(['A', 'B', 'B', 'C', 'D', 'F', 'G'])
print(sorted(student_grades1.intersection(student_grades)))

['A', 'B', 'C', 'D']
['A', 'B', 'C', 'D']

# Dictionaries

In [114]:
empty_dict = {}
print(type(empty_dict))
empty_dict = {"actor":"Amir", "Animal":"Cat", "Genius":"Mrutyunjay"}
for key, value in empty_dict.items():
    print(key, value)

<class 'dict'>
actor Amir
Animal Cat
Genius Mrutyunjay

# Comprehensions

In [115]:
squared_list = []
for x in range(1, 10):
    squared_list.append(x**2)
print(squared_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

> For loops compute sequentially.
> Comprehensions compute Parallaley.

In [117]:
squared_list = [x**2 for x in range(1, 10)]
print(squared_list)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [119]:
paragraph = ['There was a Mrutyunjay', 'There was a Pritipanna', 'They both are soulmates']
single_words_list = [word for sentence in paragraph for word in sentence.split()]
print(single_words_list)

['There', 'was', 'a', 'Mrutyunjay', 'There', 'was', 'a', 'Pritipanna', 'They', 'both', 'are', 'soulmates']

In [121]:
vowels = ['a', 'e', 'i', 'o', 'u']
vowels_comp = [word for sentence in paragraph for word in sentence.split() if word[0].lower() in vowels]
print(vowels_comp)

['a', 'a', 'are']